<?php
/**
 * @var \App\Slim\Views\CommentsView $view ;
 */
?>

<? /** @var \App\Bitrix24Client\Models\Comment $comment */ ?>
<?php foreach ($view->comments as $group => $comment) { ?>
    <div id='comment' data-author-id='<?= $comment->authorId ?>' class>
        <div class="d-flex justify-content-between">
            <p class="small mb-1"><?= $comment->authorName ?></p>
            <p class="small mb-1 text-muted"><?= $comment->date ?></p>
        </div>
        <hr class="m-0">
        <div class="d-flex flex-row justify-content-start text-start">
            <div class="small p-2 ms-3 mb-3 rounded-3 bg-color-white"><?= $comment->message ?></div>
        </div>
    </div>
<?php } ?>