<?php
/**
 * @var \App\Slim\Views\EmployersView $view ;
 */
?>
<?php

function rand_color()
{
    return sprintf('#%06X', mt_rand(000000, 0x787878));
}

?>
<style>
    #tasks_watch_modal_button {
        background: border-box;
        box-sizing: border-box;
    }
</style>

<div class="row row-cols-xl-4 row-cols-md-3 row-cols-sm-1 mb-3 text-center g-4">
    <?php foreach ($view->groupedEmployers() as $group => $employees) { ?>
        <?php foreach ($employees as $employee) { ?>
            <div class="col">
                <div class="card" style="">
                    <div class='card-title m-0 position-relative'>
                        <svg class=" bd-placeholder-img card-img-top" width="100%" height="90px"
                            xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Image cap"
                            preserveAspectRatio="xMidYMid slice" focusable="false">
                            <title>Placeholder</title>
                            <rect width="100%" height="100%" fill="<?= rand_color(); ?>">
                            </rect>
                            <text x="50%" y="50%" fill="#dee2e6" dy=".3em"
                                class='col py-2 badge text-light border fs-6 fw-medium'>

                            </text>
                        </svg>
                        <div class=' d-block rounded position-absolute'
                            style='background-color: <?= ($employee->online ? '#36bd36' : '#c58b38') ?>; width: 1.3rem; height: 0.8rem; top:3; left: 3; border: 1px solid #494c57;'>

                        </div>
                        <div class="w-75 d-flex position-absolute"
                            style='column-gap: 2px; top: 50%; left: 50%; transform: translate(-50%, -50%);'>
                            <span class='col py-2 badge text-light border bg-dark text-light'>
                                <span class='fs-6 fw-medium'>
                                    <?= sprintf("%s %s", $employee->name, $employee->lastName); ?>
                                </span>
                            </span>
                        </div>
                    </div>
                    <!-- <img src="..." class="card-img-top" alt="..."> -->
                    <div class="card-body d-flex flex-column">
                        <p class="card-text">
                            <span class="text-start d-block py-2 badge text-light border">
                                <span class='fs-6 fw-medium ps-2 me-3'>Всего комментариев:</span>
                                <span id='all_comments_count' class='fs-6 fw-medium ps-2 me-3'>
                                    <span class=" spinner-border spinner-border-sm" role="status">
                                        <span class="visually-hidden">Loading...</span>
                                    </span>
                                </span>
                            </span>
                        </p>

                        <!-- Button trigger modal -->
                        <? $modalId = md5($employee->name); ?>
                        <button id='tasks_watch_modal_button' data-modal-url='<?= $view->urlToTasks($employee->id) ?>'
                            data-modal='<?= $modalId ?>' type="button" class="btn btn-primary w-100">
                            Посмотреть список задач
                        </button>
                        <!-- Modal -->
                        <div id='<?= $modalId ?>' class="modal fade" data-bs-backdrop="static" data-bs-keyboard="false"
                            tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                            <div class="modal-dialog modal-xl modal-dialog-centered modal-dialog-scrollable">
                                <div class="modal-content">
                                    <div class="modal-header py-4" style=' background-image: url(/assets/images/space.jpg) !important;
                                            background-size: cover;
                                            background-position-y: 60%;'>
                                        <h1 class="modal-title" id="staticBackdropLabel">
                                            <span class="col py-2 badge text-light bg-dark border">
                                                <span class='fs-6 fw-medium'>
                                                    <?= $employee->name ?>
                                                </span>
                                            </span>
                                        </h1>
                                        <button type="button" class="btn-close pe-4" data-bs-dismiss="modal"
                                            aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body row">
                                        <div class='col-3 col-info'>

                                            <div class="card-body p-0 d-flex flex-column">

                                                <p class="card-text">
                                                    <span class="text-start d-block py-2 badge text-light border">
                                                        <span class='fs-6 fw-medium ps-2 me-3'>Всего комментариев:</span>
                                                        <span id='all_comments_count' class='fs-6 fw-medium ps-2 me-3'>
                                                            <span class=" spinner-border spinner-border-sm" role="status">
                                                                <span class="visually-hidden">Loading...</span>
                                                            </span>
                                                        </span>
                                                    </span>
                                                </p>
                                            </div>
                                        </div>
                                        <div class='col-9 col-tasks'>
                                            123
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        <?php } ?>
    <?php } ?>
</div>

<script>
    async function fetchTextFromUrl(url) {
        const response = await fetch(url);
        if (!response.ok) {
            throw new Error(`HTTP error: ${response.status}`);
        }
        return await response.text();
    }

    const cards = document.querySelectorAll('.card');

    cards.forEach(card => {
        let button = card.querySelector('#tasks_watch_modal_button');

        let modal = document.getElementById(button.dataset.modal),
            bsModal = new bootstrap.Modal(modal, {});

        fetchTextFromUrl(button.dataset.modalUrl)
            .then((html) => {
                modal.querySelector('.modal-body .col-tasks').innerHTML = html;

                return this;
            }).then(function() {
                let allCommentsCount = 0;

                modal.querySelectorAll('#task-item').forEach(task => {
                    let commentsUrl = task.dataset.url;
                    let respId = task.dataset.employeeId;

                    fetchTextFromUrl(commentsUrl)
                        .then((html) => {
                            let acBody = task.querySelector('.accordion-body');
                            acBody.innerHTML = html;

                            let commentsCountBadge = task.querySelector('#comments_count'),
                                commentsCount = 0;

                            acBody.querySelectorAll('#comment').forEach(comment => {
                                // console.log({ author: comment.dataset.authorId });
                                if (respId == comment.dataset.authorId) {
                                    commentsCount++;
                                }
                            });

                            allCommentsCount = parseInt(allCommentsCount) + parseInt(commentsCount);

                            commentsCountBadge.innerHTML = commentsCount;

                            return allCommentsCount;
                        }).then((allCommentsCount) => {
                            card.querySelectorAll('#all_comments_count').forEach(el => {
                                el.innerHTML = allCommentsCount;
                            });
            
                            button.addEventListener('click', (ev) => {
                                bsModal.show();
                            })
                        })
                    })
                });
    });


</script>