<?php
/** @var \App\Slim\Views\LayoutView $view */
?>
<html data-bs-theme="dark">

<head>
    <title>
        <?= $view->title() ?>
    </title>

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">

    <!-- JQuery -->
    <script src="https://code.jquery.com/jquery-3.7.1.slim.min.js"
        integrity="sha256-kmHvs0B+OpCW5GVHUNjv9rOmY0IvSIRcf7zGUDTDQM8=" crossorigin="anonymous"></script>

    <!-- Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>

    <!-- Font Awesome CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
        integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
    <div id='site' class='container py-3'>
        <header>
            <div class="d-flex flex-column flex-md-row align-items-center pb-3 mb-4 border-bottom">
                <img src='/assets/images/xdd.webp' width="90px" style='border-radius:10px;'>
                <a href="/" class="d-flex align-items-center text-dark text-decoration-none">
                    <span class="ms-3 fs-4 text-white">thsome</span>
                </a>
                <nav class="me-2 d-inline-flex mt-2 mt-md-0 ms-md-auto">
                    <span class="fs-4 text-white">v.0.5</span>
                </nav>
            </div>
            <div class="pricing-header p-3 pb-md-4 mx-auto text-left">
                <p class="fs-6 text-muted">
                    <span>TODO:</span>
                    <ol class="list-group list-group-numbered">
                        <li class="text-muted list-group-item">Календарь</li>
                        <li class="text-muted list-group-item">Доп. информация</li>
                        <li class="text-muted list-group-item">Всякое еще Ы</li>
                    </ol>
                </p>
            </div>
        </header>

        <main class="container-fluid px-0 mt-4">
            <?= $content ?>
        </main>
        <footer>

        </footer>
    </div>

</body>

</html>