<?php
/**
 * @var \App\Slim\Views\TasksView $view ;
 */
?>
<style>
    .accordion-button:focus {
        z-index: 3;
        border-color: transparent !important;
        outline: 0;
        box-shadow: none !important;
    }
</style>
<div class="accordion" id="tasksAccordionPanelsStayOpen">
    <?php foreach ($view->groupedTasks() as $group => $tasks) { ?>
        <? /** @var \App\Bitrix24Client\Models\Task $task */?>
        <?php foreach ($tasks as $task) { ?>
            <div id='task-item' data-employee-id='<?= $view->employeeId ?>' data-url='/<?= $view->employeeId ?>/tasks/<?= $task->id ?>/comments?naked=1'
                class="accordion-item">
                <div class="pt-2 d-flex justify-content-between">
                    <div class="badges">
                        <span class="ms-2 badge text-light border">
                            Комментариев: <span id='comments_count'>
                                <span class="card-text placeholder-glow">
                                    <span class="placeholder col-2 me-4"></span>
                                </span>
                            </span>
                        </span>
                    <!-- <span class="ms-2 badge text-dark border" style="background-color:#ffe9a8 !important;">
                            Изменена: 11:29 18.09.23
                        </span> -->
                    </div>
                    <a href="https://<?= ($view->getSubdomain()) ?>.bitrix24.ru/company/personal/user/<?= $view->employeeId ?>/tasks/task/view/<?= $task->id ?>/"
                        target="_blank" style="height:30px; margin-right:2px;"
                        class="align-self-center ms-3 btn btn-outline"><svg style="width:30px;"
                            xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                            class="align-top bi bi-box-arrow-up-right" viewBox="0 0 16 16">
                            <path fill-rule="evenodd"
                                d="M8.636 3.5a.5.5 0 0 0-.5-.5H1.5A1.5 1.5 0 0 0 0 4.5v10A1.5 1.5 0 0 0 1.5 16h10a1.5 1.5 0 0 0 1.5-1.5V7.864a.5.5 0 0 0-1 0V14.5a.5.5 0 0 1-.5.5h-10a.5.5 0 0 1-.5-.5v-10a.5.5 0 0 1 .5-.5h6.636a.5.5 0 0 0 .5-.5z">
                            </path>
                            <path fill-rule="evenodd"
                                d="M16 .5a.5.5 0 0 0-.5-.5h-5a.5.5 0 0 0 0 1h3.793L6.146 9.146a.5.5 0 1 0 .708.708L15 1.707V5.5a.5.5 0 0 0 1 0v-5z">
                            </path>
                        </svg>
                    </a>
                </div>
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#panel<?= $task->id ?>" aria-expanded="true" aria-controls="panel<?= $task->id ?>">
                        <?= $task->name ?>
                    </button>
                </h2>
                <div id="panel<?= $task->id ?>" class="accordion-collapse collapse">
                    <div class="accordion-body">
                        <p class="card-text placeholder-glow">
                            <span class="placeholder col-7"></span>
                            <span class="placeholder col-4"></span>
                            <span class="placeholder col-4"></span>
                            <span class="placeholder col-6"></span>
                            <span class="placeholder col-8"></span>
                        </p>
                    </div>
                </div>
            </div>
        <?php } ?>
    <?php } ?>
</div>